@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap"); /* Color palette */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.container {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 35px;
  margin: 0 auto;
  padding: 40px 0;
}
.container .card {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  background: black;
  border-radius: 15px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}
.container .card .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .card .face.face1 {
  box-sizing: border-box;
  padding: 20px;
}
.container .card .face.face1 h2 {
  margin: 0;
  padding: 0;
}
.container .card .face.face1 .java {
  background-color: #fffc00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container .card .face.face1 .python {
  background-color: #00fffc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container .card .face.face1 .cSharp {
  background-color: #fc00ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container .card .face.face2 {
  transition: 0.5s;
}
.container .card .face.face2 h2 {
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: white;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.container .card:hover .face.face2 {
  height: 60px;
}
.container .card:hover .face.face2 h2 {
  font-size: 2em;
}
.container .card:nth-child(1) .face.face2 {
  background-image: linear-gradient(40deg, #7700ff 0%, #fc00ff 45%, #00fffc 100%);
  border-radius: 15px;
}
.container .card:nth-child(2) .face.face2 {
  background-image: linear-gradient(40deg, #7700ff 100%, #fc00ff 0%, #00fffc 45%);
  border-radius: 15px;
}
.container .card:nth-child(3) .face.face2 {
  background-image: linear-gradient(40deg, #7700ff 100%, #fc00ff 45%, #00fffc 0%);
  border-radius: 15px;
}

.timeline {
  position: relative;
  padding-left: 4rem;
  margin: 0 0 0 30px;
  color: white;
}
.timeline:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background: #27293d;
}
.timeline .timeline-container {
  position: relative;
  margin-bottom: 2.5rem;
}
.timeline .timeline-container .timeline-icon {
  position: absolute;
  left: -88px;
  top: 4px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 2rem;
  background: #4f537b;
}
.timeline .timeline-container .timeline-icon i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.timeline .timeline-container .timeline-icon img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.timeline .timeline-container .timeline-body {
  background: #27293d;
  border-radius: 3px;
  padding: 20px 20px 15px;
  box-shadow: 1px 3px 9px rgba(0, 0, 0, 0.1);
}
.timeline .timeline-container .timeline-body:before {
  content: "";
  background: inherit;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: -10px;
  transform: rotate(45deg);
  border-radius: 0 0 0 2px;
}
.timeline .timeline-container .timeline-body .timeline-title {
  margin-bottom: 1.4rem;
}
.timeline .timeline-container .timeline-body .timeline-title .badge {
  background: #4f537b;
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: bold;
}
.timeline .timeline-container .timeline-body .timeline-subtitle {
  font-weight: 300;
  font-style: italic;
  opacity: 0.4;
  margin-top: 16px;
  font-size: 11px;
}
.timeline .timeline-container.primary .badge,
.timeline .timeline-container.primary .timeline-icon {
  background: #1d8cf8 !important;
}
.timeline .timeline-container.info .badge,
.timeline .timeline-container.info .timeline-icon {
  background: #11cdef !important;
}
.timeline .timeline-container.success .badge,
.timeline .timeline-container.success .timeline-icon {
  background: #00bf9a !important;
}
.timeline .timeline-container.warning .badge,
.timeline .timeline-container.warning .timeline-icon {
  background: #ff8d72 !important;
}
.timeline .timeline-container.danger .badge,
.timeline .timeline-container.danger .timeline-icon {
  background: #fd5d93 !important;
}

.author {
  font-family: inherit;
  padding: 3em;
  text-align: center;
  width: 100%;
  color: white;
}
.author a:link,
.author a:visited {
  color: white;
}
.author a:link:hover,
.author a:visited:hover {
  text-decoration: none;
}
.author .btn:link,
.author .btn:visited {
  margin-top: 1em;
  text-decoration: none;
  display: inline-block;
  font-family: inherit;
  font-weight: 100;
  color: white;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: black;
  padding: 1.5em 2rem;
  border-radius: 1em;
  transition: 0.5s all;
}
.author .btn:link:hover, .author .btn:link:focus, .author .btn:link:active,
.author .btn:visited:hover,
.author .btn:visited:focus,
.author .btn:visited:active {
  background-color: #1a1a1a;
}

/* Color palette */
body {
  margin: 0;
  padding: 0;
  font-family: "Righteous", cursive;
  min-height: 100vh;
  background-image: linear-gradient(#181a19 100%, #181a19 50%);
}
body header {
  background-color: #181a19;
  justify-content: space-evenly;
}
@media only screen and (max-width: 420px) {
  body header {
    width: 100%;
    justify-content: center;
    margin: 0%;
  }
}
@media only screen and (min-width: 421px) and (max-width: 960px) {
  body header {
    font-size: 2vh;
    justify-content: center;
    margin: 1%;
  }
}
body header .nave ul li {
  padding-left: 3%;
}
body header .nave ul :hover {
  transform: scale(1.03);
  border-radius: 4%;
  transition: all 0.5s;
}
body header .navl ul {
  display: flex;
  justify-content: space-evenly;
  padding: 2%;
}
body header .navl ul :hover {
  transform: scale(1.2);
  color: white;
  transition: all 0.5s;
}
body header .navl ul li {
  list-style: none;
}
body header .navl ul li a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: larger;
  color: white;
}
body header .navl ul li h3 {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: larger;
  color: white;
}
body .main_sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
  height: 75vh;
  font-family: "MuseoModerno", cursive;
  background-color: #181a19;
}
@media only screen and (max-width: 420px) {
  body .main_sec {
    height: 35vh;
    margin: 5%;
  }
}
@media only screen and (min-width: 421px) and (max-width: 960px) {
  body .main_sec {
    height: 55vh;
    margin: 4%;
  }
}
body .main_sec h1 {
  font-size: 14vh;
  border: solid 2px #00fffc;
  padding: 2%;
}
@media only screen and (max-width: 420px) {
  body .main_sec h1 {
    font-size: 8vh;
  }
}
@media only screen and (min-width: 421px) and (max-width: 960px) {
  body .main_sec h1 {
    font-size: 12vh;
  }
}
body .main_sec h2 {
  font-family: "Poppins", sans-serif;
}
@media only screen and (max-width: 420px) {
  body .main_sec h2 {
    font-size: 2vh;
  }
}
@media only screen and (min-width: 421px) and (max-width: 960px) {
  body .main_sec h2 {
    font-size: 4vh;
  }
}
@media only screen and (max-width: 420px) {
  body .main_sec h3 {
    font-size: 2.5vh;
    padding-left: 5%;
  }
}
@media only screen and (min-width: 421px) and (max-width: 960px) {
  body .main_sec h3 {
    font-size: 4.5vh;
    padding-left: 8%;
  }
}
body .sec_sec {
  display: flex;
  justify-content: center;
  align-content: center;
}
body footer ul {
  display: flex;
  justify-content: center;
}
body footer ul li {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 5%;
}
body footer ul li a img {
  height: 12vh;
  width: 10;
}
body footer ul :hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts h2 {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 400%;
  margin: 0% 5%;
}
@media only screen and (max-width: 420px) {
  .contacts h2 {
    font-size: 200%;
  }
}
@media only screen and (min-width: 421px) and (max-width: 960px) {
  .contacts h2 {
    font-size: 300%;
  }
}
.contacts ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
@media only screen and (max-width: 420px) {
  .contacts ul {
    flex-direction: column;
  }
}
@media only screen and (min-width: 421px) and (max-width: 960px) {
  .contacts ul {
    flex-direction: column;
  }
}
.contacts ul li {
  margin: 12%;
}
.contacts ul li a img {
  height: 30vh;
}
.contacts ul li a :hover {
  transform: scale(1.3);
  transition: all 0.5s;
}

/*# sourceMappingURL=style.css.map */
