@import "./components/freefront";
@import "./components/habilidades";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: "Righteous", cursive;
    min-height: 100vh;
    background-image: linear-gradient(rgb(26, 25, 29) 100%, #000 0%);


    header{
        background-color:rgb(26, 25, 29);
        justify-content: space-evenly;
        nav{
            ul{
                display: flex;
                justify-content: space-evenly;
                padding: 2%;
            
            :hover{
                transform: scale(1.2);
                color: white;
                transition: all 0.5s;
            }

                li{
                    list-style: none;

                    a{
                       text-decoration: none; 
                       font-family: 'Poppins', sans-serif;
                       font-size: larger;
                       color: white;
                    }
                    
                }
            }
        }
    }

    .main_sec{



        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        justify-content: center;
        height: 75vh;
        font-family: 'MuseoModerno', cursive;
        background-color: rgb(26, 25, 29);
    
        h1{
            font-size: 14vh;
            border: solid 2px rgb(47, 255, 255);
            padding: 2%;
        }
        h2{
    
            font-family: 'Poppins', sans-serif;
            
        }
       
    }

    footer{
        ul{
            display: flex;
            justify-content: center;
            li{
                list-style: none;
                display: flex;
                justify-content: space-evenly;
                margin: 5%;
                a{
                    img{
                        height: 12vh;
                        width: 10;
                    }
                }
            }
            :hover{
                transform: scale(1.2);
                transition: all 0.5s;
            }
        }
    }

}